@font-face {
    font-family: "LoubagSemiBold";
    src: url(../fonts/Loubag-SemiBold.otf);
}

@font-face {
    font-family: "LoubagThin";
    src: url(../fonts/Loubag-Thin.otf);
}

:root {
  --accent-color: #D3FFA6;
}

html {
    background: url(../images/gggrain.svg);
    background-size: 200%;
    
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding: 120px;
}



/* global styles */
.sections {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column wrap;
}

.container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.section-title {
    font-family: "LoubagSemiBold";
    text-align: center;
    /* padding: 10px 0 0 0; */
}

.smaller-text {
    font-family: "LoubagThin"
}

.text-highlight {
    color: var(--accent-color);
    font-style: italic;
}


/* nav styles */
#nav-img {
    height: 100%;
    width: 20%
}

#nav-img img {
    height: 100%;
    width: 100%
}


#nav-container {
    height: 10%;
    width: 95%;
    background: var(--accent-color);
    border-radius: 5px;
    margin: 20px 0 0 0;
    box-shadow: 5px 5px 0px 0px black;
    position:fixed;
    display: flex;
}


#nav-links {
    height: 100%;
    width: 80%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nav-links li {
    width: 30%;
    text-align: center;
    font-family: "LoubagThin";
    font-size: .7rem

}

a {
    color: inherit;
}



/* header text styles */
#header-section{
    display: flex;
    align-items: center;
    gap: 20px;
    overflow: hidden;
}

#header-text-container {
    height: 65%;
    margin: 150px 0 0 0;
    background: url(../images/header-circle-blob.svg) no-repeat center;

} 

#header-title {
    font-size: 3rem;
}

#header-p {
    text-align: center;
    font-size: 1.1rem;
    word-spacing: 1px;
    
}


/* about me page */
#about-me {
    justify-content: space-between;
}

#about-me-title {
    height: 10%;
    font-size: 2rem;
}

#self-img-and-text {
    height: 50%;
}

#see-my-work {
    justify-content: space-between;
}

#contact {
    justify-content: space-between;
}


