@font-face {
    font-family: "LoubagSemiBold";
    src: url(../fonts/Loubag-SemiBold.otf);
}

@font-face {
    font-family: "LoubagThin";
    src: url(../fonts/Loubag-Thin.otf);
}

:root {
    --primary-color: #AD70EB;
    --secondary-color: #C2F970;
    --tertiary-color: #0A3200;
    --text-color1: #E8E1EF;
    --text-color2: #F8F7FF;
    font-size: 1rem;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding: 60px;
}

.sections {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column wrap;
}

svg {
    align-self: end;
}

.container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.section-title {
    font-family: "LoubagSemiBold";
    text-align: center;
    /* padding: 10px 0 0 0; */
}


#header-section{
    background: var(--primary-color);
    justify-content: space-between;
}

#header-title-container {
    height: 20%;
}


#nav-container {
    height: 50%;
    width: 100%
    
}

#nav-link-container {
    height: 100%;
    width: 100%;
}

#nav-links {
    height: 100%;
    width: 100%;
    list-style: none;
    justify-content: space-evenly;

}

#nav-links li {
    height: 10%;
    width: 50%;
   justify-content: space-between;

}

.nav-buttons {
    background: var(--secondary-color);
    color: var(--text-color2);
    border-style: none;
    border-radius: 5px;
    box-shadow: 8px 9px 0px 0px var(--tertiary-color);
    height: 100%;
    width: 100%;
    font-family: "LoubagThin"

    
}

#about-me {
    background: var(--secondary-color);
    justify-content: space-between;
}

#about-me-title {
    height: 10%;
    font-size: 2rem;
}

#self-img-and-text {
    height: 50%;
}

#see-my-work {
    background: var(--tertiary-color);
    justify-content: space-between;
}

#contact {
    background: var(--text-color1);
    justify-content: space-between;
}


