@font-face {
    font-family: "LoubagSemiBold";
    src: url(../fonts/Loubag-SemiBold.otf);
}

@font-face {
    font-family: "LoubagThin";
    src: url(../fonts/Loubag-Thin.otf);
}

:root {
  --accent-color: #D3FFA6;
}

html {
    background: url(../images/gggrain.svg) repeat;
    overflow: scroll;
    scroll-behavior: smooth;
}

body {
    -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
    scroll-padding: 120px;
}



/* global styles */
.sections {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column wrap;
}

.container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.section-title {
    font-family: "LoubagSemiBold";
    text-align: center;
    /* padding: 10px 0 0 0; */
}

.smaller-text {
    font-family: "LoubagThin"
}

.text-highlight {
    color: var(--accent-color);
    font-style: italic;
}


/* nav styles */
#nav-img {
    height: 100%;
    width: 20%
}

#nav-img img {
    height: 100%;
    width: 100%
}


#nav-container {
    height: 10%;
    width: 95%;
    background: var(--accent-color);
    border-radius: 5px;
    margin: 20px 0 0 0;
    box-shadow: 5px 5px 0px 0px black;
    position:fixed;
    display: flex;
}


#nav-links {
    height: 100%;
    width: 80%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nav-links li {
    width: 30%;
    text-align: center;
    font-family: "LoubagThin";
    font-size: .7rem

}

a {
    color: inherit;
}



/* header text styles */
#header-section{
    display: flex;
    align-items: center;
    gap: 20px;
    overflow: hidden;
}

#header-text-container {
    height: 65%;
    margin: 150px 0 0 0;
    background: url(../images/header-circle-blob.svg) no-repeat center;

} 

#header-title {
    font-size: 3rem;
}

#header-p {
    text-align: center;
    font-size: 1.1rem;
    word-spacing: 1px;
    
}


/* about me page */
#about-me {
    justify-content: space-between;
}

#about-me-title {
    height: 10%;
    font-size: 2rem;
}

#about-img-and-text {
    height: 90%;
    width: 100%;
}


#about-me-img {
    height: 40%;
    width: 80%;
    align-self: center;
}

#about-me-text {
    padding: 0 15px;
    text-align: center;
    font-size: 1.1rem;
    word-spacing: 1px;
    height: 60%
}

#see-my-work {
    justify-content: space-between;
}

#contact {
    justify-content: flex-start;
}

#contact-title {
    height: 10%;
    
}

#form-container {
    height: 70%;
    width: 90%;
    border: 3px solid white;
    border-radius: 20px;
    justify-content: space-evenly;
}

#form-container input {
  height: 2rem;
  width: 80%;
  border: 1px solid black;
  border-radius: 10px;

}

#form-text-areas {
    height: 45%;
    justify-content: space-evenly;
    width: 100%
}

#form-text-areas input {
    width: 90%;
    padding: 0 0 0 10px;
}

#form-text-areas label {
    width: 90%;
    text-align: left;
}

#services-container {
    flex-flow: row wrap;
    height: 25%;
    width: 100%;
    /* align-items: center; */
}
#services-title {
    height: 30%;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    font-family: "LoubagSemiBold";
    
}

#services-container label {
    font-size: 1rem;
    width: 100%;
    text-align: center;
    
}
.radio-options {
    width: 100%;
    height: 50%;
    display: inherit;
    padding: 0 5px;

}

#form-button {
    height: 5%;
    width: 90%;
}


